<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="is_backrun" value="0"/>
		<add key="plm_url" value="http://localhost/plm"/>
		<add key="plm_db" value=""/>
		<add key="plm_ad" value="root"/>
		<add key="plm_pwd" value=""/>
		<add key="search_method" value=""/>
		<add key="method_steps" value=""/>
		<add key="is_auto_login" value="0"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
